
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#question-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#question-text {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
    overflow: hidden;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

#finish-text {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
    overflow: hidden;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

#startButton {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 110%;
    cursor:pointer;
}

#restartButton {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    cursor:pointer;
}

#a {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    cursor:pointer;
}

#b {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    cursor:pointer;
}

#c {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    cursor:pointer;
}

.buttonBlack {
    background: rgba(0, 0, 0, 0.65);
}

.buttonGreen {
    background: rgba(0, 255, 0, 0.65);
}

.buttonRed {
    background: rgba(255, 0, 0, 0.65);
}

#progress-bar {
    align-items: center;
    align-content: center;
    width: 100%;
}